<!DOCTYPE html>
<html>

<head>
<title>Alpha-Blog About</title>
</head>

<style>
h1 {color:CadetBlue;font-family:Courier New;}
p {font-family:Times;}
</style>

<body>

	
<h1>About Me!</h1>
<p style="border:1px solid Tomato;">My name is Amber.</p>

</body>

<%= link_to "Home", root_path %>

</html>