<!DOCTYPE html>
<html>

<head>
<title>Alpha-Blog About</title>
</head>


<body>

<style>
h1 {color:indigo;font-family:Courier New;}
p {font-family:Times;}
</style>
	
<h1> <font size="15">About Me! </font> </h1>

<%= image_tag '29511552_10211542673585523_3274335310572194592_n.jpg', size: "240x240" %>

<p style="border:1px solid indigo;">My name is Amber.</p>

</body>

<%= link_to "home", root_path %>

</html>