<!DOCTYPE html>
<html>
<head>
<title>Alpha-Blog Home</title>
</head>



<body>

<style>
h1 {color:indigo;font-family:Courier New;}
p {font-family:Times;}
</style>

<h1> <font size="15"> Hello World! </font> </h1>

<%= image_tag '40376428854_8d288847cb_o.jpg', size: "330x210" %>

<p style="border:1px solid indigo;">Welcome to my blog!</p>

</body>


<%= link_to "about", about_path %>

</html>