<!DOCTYPE html>
<html>
<head>
<title>Alpha-Blog Home</title>
</head>

<style>
h1 {color:CadetBlue;font-family:Courier New;}
p {font-family:Times;}

</style>

<body>

<h1>Hello World!</h1>

<%= image_tag '40376428854_8d288847cb_o.jpg' %>

<p style="border:1px solid Tomato;">Welcome to my blog!</p>

</body>


<%= link_to "About", about_path %>

</html>