<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://www.ambereaton.com">Amber Eaton</a>
		</small>
		<nav>
			<ul>
			<li><%= link_to "home", root_path %> | <%= link_to "about",about_path %> | <%=link_to "articles", articles_path %></li>
			</ul>
		</nav>	
	</footer>
</div>